body {
  background-image: url(files/background.jpg);
}

h1,
h5 {
  font-family: "Spicy Rice", cursive;
}

.join {
  margin-top: 15px;
  color: #c9ffc9;
}

.name {
  border-bottom: 2px dotted lightgrey;
  margin: 15px;
}

.join:hover {
  color: green;
  cursor: pointer;
}

.not-active {
  text-decoration: none;
  color: inherit;
}

.not-active:hover {
  text-decoration: none;
  color: inherit;
}

.join:hover .userplus {
  color: green;
}
.teamNumber {
  font-family: "Spicy Rice", cursive;
}

.steamsign {
  color: #c9ffc9;
  text-shadow: none;
}

.steamsign:hover {
  color: lime;
  cursor: pointer;
}

.headerTitle {
  color: #deffc5;
  font-size: 5rem;
  text-shadow: 5px 2px 5px lime;
  -webkit-text-stroke: 1px #1eff0f;
}

.userplus {
  color: #c9ffc9;
}

.usertext {
  color: white;
}

.signOut:hover {
  cursor: pointer;
  color: lime;
}

.headerContainer {
  background-color: #96a4e685;
  border-radius: 20px;
  padding: 120px 80px 120px 80px;
  border: 2px solid #96a4e6f2;
}

.teamNumber:hover,
.trash:hover {
  color: lime;
}

.card h1,
p {
  color: black;
}

.main h1,
h2,
h3,
h4 {
  color: black;
}

.headerContainer,
.maps,
.players,
.teams {
  opacity: 0;
}

.animate {
  animation-name: showSlow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animateDelay {
  animation-name: showSlow;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.animateDelayLong {
  animation-name: showSlow;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes showSlow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 25;
  }
  50% {
    opacity: 50;
  }
  75% {
    opacity: 75;
  }
  100% {
    opacity: 100;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.session {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
  font-family: "Spicy Rice", cursive;
}

@keyframes showMedium {
}

@keyframes showFast {
}

#header {
  color: lime;
}
#mapVoteContainer {
  padding-bottom: 30px;
}

.startGame {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 2px solid #5060af;
}

.card {
  background-color: #ffffffc7 !important;
}

.main {
  background-color: rgba(150, 164, 230, 0.85);
  border-radius: 25px;
  padding: 80px;
  border: 2px solid #96a4e6f2;
}

.link {
  cursor: pointer;
}

.right {
  float: right;
}

.mapThumbnail {
  border: 3px solid green;
  -webkit-box-shadow: 10px 10px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 25px -12px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.mapThumbnail:hover {
  border: 3px solid lime;
}
